@using Health.Domain.Entities
@using System.Web.Optimization
@model IEnumerable<Specialization>

@{
    ViewBag.Title = "ASP.NET Identity";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">
    <div class="panel panel-primary admin_block">
        <div class="panel-heading">
            Учетные записи пациентов
        </div>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Иконка</th>
                <th>Название</th>

                <th></th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">Нет ни одной учетной записи</td>
                </tr>
            }
            else
            {
                foreach (Specialization specialization in Model)
                {
                    <tr>
                        <td>@specialization.SpecializationId</td>
                        <td>
                            @if (specialization.SpecializationImageData == null || specialization.SpecializationImageMimeType == null)
                            {
                                <img class="img-thumbnail" id="image" width="150" height="150"
                                     src="~/Content/icons/NoPhoto.png" />
                            }
                            else
                            {
                                <img class="img-thumbnail" id="image" width="150" height="150"
                                     src="@Url.Action("GetSpecializationIcon", "Image",
                       new { id =specialization.SpecializationId })" />
                            }
                        </td>
                        <td>@specialization.SpecializationTitle</td>

                        <td>
                            @using (Html.BeginForm("Delete", "AdminSpecializations", new { id = specialization.SpecializationId }))
                            {
                                @Html.ActionLink("Изменить", "EditSpecialization", new { id = specialization.SpecializationId },
                                    new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 10px" })
                                <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
        @Html.ActionLink("Создать", "CreateSpecialization", null, new { @class = "btn btn-primary" })
    </div>
    </body>
