@using Health.Domain.Entities
@using Health.WebUI.Models.PatientModels
@using System.Web.Optimization


@model PatientPage


@{
 
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="~/Content/Styles/MainLeftMenuStyle.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />

    </head>
    <body overflow="auto">


        <div class="RountedBackgroundRectandle flexbox_background_rectangle">
            <div class="flexbox_choosedDoctor_history block_userHistory" id="userHistory">
                <div class="block_medcardHistory_Title">
                    <span class="text_medcardHistory_Title">Список посещений врачей</span>
                    <div class="block_green_underline block_theme_gradient"></div>
                </div>
                <div id="scrolList">@Html.Partial("~/Views/Shared/PatientPartialViews/PreviousAppointmentList.cshtml")</div>

                <div id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>
            </div>
            <div class="block_user_rightSide">

                <div class="block_userInfo default_shadow">
                    <div class="flexbox_userInfo_title">
                        <div class="block_userInfo_title block_theme_gradient"> О пользователе</div>
                        <a href="@Url.Action("Edit",new { patientId=Model.Patient.PatientId })"> <div class="block_userInfo_edit block_theme_gradient"></div></a>

                    </div>
                    <div class="block_userInfo_mainInfo">
                        <img  width="75" height="75" class="doctorsearch_image"
                     src="@Url.Action("GetPatientImage", "Patient",
                new { Model.Patient.PatientId})" >
                        <div class="block_column_userInfo">

                            <div class="text_grayStyle text_userInfo_styleGray">Имя:</div>
                            <div class="text_blackStyle text_userInfo_styleBlack"> @Model.Patient.PatientName</div>

                            <div class="text_grayStyle text_userInfo_styleGray">Отчество:</div>
                            <div class="text_blackStyle text_userInfo_styleBlack"> @Model.Patient.PatientPatronymic</div>
                            <div class="text_grayStyle text_userInfo_styleGray">Фамилия:</div>
                            <div class="text_blackStyle text_userInfo_styleBlack"> @Model.Patient.PatientSurname</div>
                         

                        </div>


                    </div>

                    <div class="block_additionalInfo">
                        <div class="block_additionalInfo_element_green  block_theme_gradient">
                            <div class="block_additionalInfo_element_white lower_shadow">


                                <div class="text_grayStyle text_userInfo_styleGray">Возраст:</div>
                                <div class="text_blackStyle text_userInfo_styleBlack"> @Model.PatientAge лет</div>

                            </div>

                        </div>
                        <div class="block_additionalInfo_element_green  block_theme_gradient">
                            <div class="block_additionalInfo_element_white lower_shadow">


                                <div class="text_grayStyle text_userInfo_styleGray">Рост:</div>
                                <div class="text_blackStyle text_userInfo_styleBlack"> @Model.Patient.PatientHeight см</div>

                            </div>

                        </div>
                        <div class="block_additionalInfo_element_green  block_theme_gradient ">
                            <div class="block_additionalInfo_element_white lower_shadow">


                                <div class="text_grayStyle text_userInfo_styleGray">Вес:</div>
                                <div class="text_blackStyle text_userInfo_styleBlack"> @Model.Patient.PatientWeight кг</div>

                            </div>

                        </div>
                        <div class="block_additionalInfo_element_green  block_theme_gradient">
                            <div class="block_additionalInfo_element_white lower_shadow">


                                <div class="text_grayStyle text_userInfo_styleGray">Группа крови:</div>
                                <div class="text_blackStyle text_userInfo_styleBlack"> @Model.PatientBloodType.BloodTypeTitle</div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="block_upcomingSessions default_shadow">
                    <div class="block_upcomingSessions_title">Предстоящие сеансы</div>
                    <div class="block_upcomingSessions_rectangle block_theme_gradient"></div>


                    <div class="block_upcomingSessions_scroller" id="nextAppointments">

                        <div id="scrolListNext">@Html.Partial("~/Views/Shared/PatientPartialViews/NextAppointmentList.cshtml")</div>

                        <div id="loadingNext"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>


                    </div>




                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">

            $(function () {

                $('div#loading').hide();

                var page = 0;
                var _inCallback = false;
                function loadItems() {

                    if (page > -1 && !_inCallback) {
                        _inCallback = true;
                        page++;
                        $('div#loading').show();

                        $.ajax({
                            type: 'GET',
                            url: '/Patient/GetPreviousAppointmentsList/' + page,
                            success: function (data, textstatus) {
                                if (data != '') {
                                    $("#scrolList").append(data);
                                }
                                else {
                                    page = -1;
                                }
                                _inCallback = false;
                                $("div#loading").hide();
                            }
                        });
                    }
                }
                // обработка события скроллинга
                $("#userHistory").scroll(function () {
                    console.log('scrollTopsrab', $("#userHistory").scrollTop())
                    console.log('d-w srab', $("#userHistory").height())
                    console.log('doc h', this.scrollHeight - this.clientHeight)
                    if( this.scrollTop >= this.scrollHeight - this.clientHeight) {

                        loadItems();
                    }
                });
            })
            $(function () {

                $('div#loadingNext').hide();

                var page = 0;
                var _inCallback = false;
                function loadNextItems() {

                    if (page > -1 && !_inCallback) {
                        _inCallback = true;
                        page++;
                        $('div#loadingNext').show();

                        $.ajax({
                            type: 'GET',
                            url: '/Patient/GetNextAppointmentsList/' + page,
                            success: function (data, textstatus) {
                                if (data != '') {
                                    $("#scrolListNext").append(data);
                                }
                                else {
                                    page = -1;
                                }
                                _inCallback = false;
                                $("div#loadingNext").hide();
                            }
                        });
                    }
                }
                function loadThisItems() {

                    if (page > -1 && !_inCallback) {
                        _inCallback = true;
                      
                        $('div#loadingNext').show();

                        $.ajax({
                            type: 'GET',
                            url: '/Patient/GetNextAppointmentsList/' + page,
                            success: function (data, textstatus) {
                                if (data != '') {
                                    $("#scrolListNext").append(data);
                                }
                                else {
                                    page = -1;
                                }
                                _inCallback = false;
                                $("div#loadingNext").hide();

                            }
                        });
                    }
                }
                // обработка события скроллинга
                $("#nextAppointments").scroll(function () {
                    console.log('scrollTopsrab', $("#nextAppointments").scrollTop())
                    console.log('d-w srab', $("#nextAppointments").height())
                    console.log('doc h', this.scrollHeight - this.clientHeight)
                    if (this.scrollTop+1 >= this.scrollHeight - this.clientHeight) {

                        loadNextItems();
                    }
                });
            })

     
        //function DeleteAppointment(ID) {
        //    $('div#loadingNext').show();
        //    $.ajax({
        //        type: "GET",
        //        url: '/Patient/DeleteAppointment/' + ID,
        //        success: function (data, textstatus) {
        //            if (data != '') {
        //                $("#scrolListNext").replaceWith(data);
            
        //            }
        //            _inCallback = false;
        //            $("div#loadingNext").hide();
        //            }
            
                   
        //        }

               
        //    )};
  
     




    </script>

    </body>
