
@using System.Web.Optimization

@model Health.WebUI.Models.AdminDoctors.EditDoctorViewModel
@{ ViewBag.Title = "Редактирование пользователя";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<head>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body class="container">
    @Html.ValidationSummary(true)

    <h2>Редактирование пользователя</h2>
    <div class="form-group">
        <label>Id</label>
        <p class="form-control-static">@Model.Id</p>
    </div>

    @using (Html.BeginForm("EditDoctor", "AdminDoctors",
            FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
@Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <label>Имя</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                                <div class="form-group">
                                    <label>Фамилия</label>
                                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                                </div>
                                                <div class="form-group">
                                                    <label>Отчество</label>
                                                    @Html.TextBoxFor(x => x.Patronymic, new { @class = "form-control" })
                                                </div>
                                                                <div class="form-group">
                                                                    <label> Номер телефона</label>
                                                                    @Html.TextBoxFor(x => x.DoctorPhone, new { @class = "form-control" })
                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Email</label>
                                                                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    <label>Специализация</label>
                                                                                                    @Html.DropDownListFor(m => m.SpecializationId, new SelectList(ViewBag.Specializations, "SpecializationId", "SpecializationTitle", Model.SpecializationId), new { @id = "Specialization", @class = "form-control" })
                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label>Пол</label>
                                                                                                                    @Html.DropDownListFor(m => m.GenderId, new SelectList(ViewBag.Genders, "GenderId", "GenderTitle", Model.GenderId), new { @id = "Gender", @class = "form-control" })
                                                                                                                </div>

                                                                                                                                <div class="form-group">
                                                                                                                                    <label>Пароль</label>
                                                                                                                                    <input name="password" type="password" class="form-control" />
                                                                                                                                </div>

                                                                                                                                                <div class="form-group">
                                                                                                                                                    <div>
                                                                                                                                                        <label>Фото</label>
                                                                                                                                                        <input type="file" name="imageInp" class="photo" id="imgInput" />


                                                                                                                                                        <span class='label label-info' id="upload-file-info"></span>
                                                                                                                                                    </div>



                                                                                                                                                </div> if (Model.ImageData == null || Model.ImageMimeType == null)
                                                                                                                                                                {
                                                                                                                                                <img class="img-thumbnail" id="image" width="150" height="150"
                                                                                                                                                     src="~/Content/icons/NoPhoto.png" /> }
                                                                                                                                                                else
                                                                                                                                                                {
                                                                                                                                                <img class="img-thumbnail" id="image" width="150" height="150"
                                                                                                                                                     src="@Url.Action("GetDoctorPhoto", "Image",
                       new { id =Model.Id })" /> }
                                                                                                                                                <div class="panel-footer">
                                                                                                                                                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                                                                                                                                                    @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
                                                                                                                                                    {
                                                                                                                                                        @class = "btn btn-default"
                                                                                                                                                    })
                                                                                                                                                </div>}
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/imageManipulator.js")
