@using Health.Domain.Entities
@using System.Web.Optimization
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ASP.NET Identity";
    Layout = null;
}
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<div class="panel panel-primary">
    <div class="panel-heading">
        Учетные записи
    </div>
    <a href="@Url.Action("Index", "AdminDoctors")">Доктора</a><br />
    <a href="@Url.Action( "Index", "AdminPatients")">Пациенты</a><br />
    <a href="@Url.Action( "Index", "AdminSpecializations")">Специальности</a><br />
    <a href="@Url.Action("Index", "AdminDiseases")">Болезни</a><br />
   
</div>
