@using System.Web.Optimization

@model Health.WebUI.Models.Account.LoginViewModel
@{
    Layout = null;
}
    <head>
       
 
    

        <link href="~/Content/Styles/MainLeftMenuStyle.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/EditError.css" rel="stylesheet" />
    </head>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/main.css">


    <title>Document</title>
</head>

<body>
    <p class="HealthTextLogo">HEALTH</p>
    <div class="HalfOfScreen LeftSideOfScreen">
        @*<div class="EnterNavigationBar"></div>
        <ul class="EnterNavigationBar">

            <li><a href="">Главная</a></li>
            <li><a href="">Про нас</a></li>
            <li><a href="">Контакты</a></li>
        </ul>*@

    </div>

    <div class="AuthorizationSection LoginSection">
        <h1 class="AuthorizationBlockHeadText"> Вход в систему</h1>
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <p class="AuthorizationInputHelper">Электронная почта</p>
            <div class="AuthorizationInputGroup">
                @Html.TextBoxFor(x => x.Email, new { @class = "TextInputLogin" })
                <span class="bar"></span>
            </div>
            <p class="AuthorizationInputHelper">Пароль</p>
            <div class="AuthorizationInputGroup">
                @Html.PasswordFor(x => x.Password, new { @class = "TextInputLogin" })
                <span class="bar"></span>
            </div>
            <input class="ButtonInput ButtonInputLogin button_MouseOn" type="submit" value="Войти">
        }
    <div class="ToRegisterRef">
        @Html.ActionLink("Не зарегестрированны?", "CreatePatient","Account")
    </div>
    <div class="ToRegisterRef RefreshPasswordRef">
        <a href="">Восстановление</a></div>
    </div>


</body>
</html>