<!DOCTYPE html>
@{
    string pageUrl = Request.Url.PathAndQuery.ToString();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Styles/MainLeftMenuStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EditError.css" rel="stylesheet" />

</head>
<body>
    <div class="MainLeftMenu">
        <div class="MenuImage Medical_Icon"></div>
        <div class="NavigationItemsGroup">


            <a style="text-decoration:none" href="@Url.Action("Index","Patient")">
                <div class="@((pageUrl.ToLower().Contains("/patient/")||(pageUrl.ToLower()=="/patient" ))? "AccountIconActive" : "AccountIcon") MenuImage">
                </div>

                <div class="@((pageUrl.ToLower().Contains("/patient/")||(pageUrl.ToLower()=="/patient" ))? " ActiveMenuText" : string.Empty) NavigationMenuText">Аккаунт</div>
            </a>
            <a style="text-decoration:none" href="@Url.Action("Index","MedicalRecord")">
                <div class="@(pageUrl.ToLower().Contains("/medicalrecord") ? "MedCardIconActive" : "MedCardIcon") MenuImage">

                </div>
                <div class="@(pageUrl.ToLower().Contains("/medicalrecord") ? " ActiveMenuText" : string.Empty) NavigationMenuText">Медкарта</div>
            </a>
                <a style="text-decoration:none" href="@Url.Action("Index","PatientAppointment")">
                    <div class="@(pageUrl.ToLower().Contains("/patientappointment") ? "СouponIconActive" : "СouponIcon")  MenuImage">
                    </div>
                    <div class="@(pageUrl.ToLower().Contains("/patientappointment") ? " ActiveMenuText" : string.Empty) NavigationMenuText">Талончик</div>
                </a>
        </div>
       <a href="@Url.Action("Logout","Account")"><div class="MenuImage Help_Icon"></div></a> 
    </div>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>










</body>
</html>